{
   "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
   "@typescript-eslint",
   "eslint-plugin-node",
  ],
  "parserOptions": {
     "babelOptions": {
        "presets": ["@babel/preset-react"]
     }
    }
}